
<style>
.navbar{
    width: 50%;
}
.navbar-right{
    float: right;
    margin-top: -50px;
    padding-left: 100px;
    
}
.navbar-right a{
    padding:10px ;
    color: black;
    
}
.navbar-right button {
    padding: 10px;
    background-color: rgb(23, 22, 22);
    border-radius: 10px;
   
}
.navbar-right button a{
    
    color: rgb(205, 195, 195);
    padding: 10px;
}
.navbar-right button:hover{
    background-color: rgb(59, 58, 58);
    
}
</style>
        <div class="navbar" ><img src="../static/evault_small-removebg-preview.png"></div>
        <div class="navbar-right">
        <a href="search/"><b>Search</b></a>
        <a href="upload/"><b>Upload</b></a>
        
        <button><a href="login/"><b></b>Login</a></button>
        <button ><a href="sign/"> Register</a></button>
        </div>
        
</div>
